<h1>Location Print Status</h1>
<table class="table table-striped" style="margin-top:5px">
  <th><button class="btn-mini btn-link" ng-click="sort('record.description')">Printer Location</button></th>
  <th><button class="btn-mini btn-link" ng-click="sort('record.phone_number')">Contact Number</button></th>
  <th><button class="btn-mini btn-link" ng-click="sort('record.printer_name')">Printer Name</button></th>
  <th><button class="btn-mini btn-link" ng-click="sort('record.mar_file_name')">MAR File Name</button></th>
  <th><button class="btn-mini btn-link" ng-click="sort('last_print_status')">Last Print Status</button></th>
  <th><button class="btn-mini btn-link" ng-click="sort('location.last_print_job.enque_timestamp')">Last Print Time</button></th>
  <tr ng-repeat="location in locations | orderBy:defaultColumn:reverse">
    <td>{{ location.record.description }}</td>
    <td>{{ location.record.phone_number }}</td>
    <td>{{ location.record.printer_name }}</td>
    <td>{{ location.record.mar_file_name }}</td>
    <td>{{ location.last_print_status }}</td>
    <td>{{ location.record.last_print_job.enque_timestamp }}</td>
  </tr>
</table>