<div class="row">
  <div class="col-lg-4">
    <button type="button" class="btn btn-danger btn-lg btn-block" style="height:400px;font-size:5em;white-space:normal;" ng-click="onPrintAll()">Print All MARs</button>
  </div>
  <div class="col-lg-4">
    <button type="button" class="btn btn-default btn-lg btn-block" style="height:400px;font-size:5em;white-space:normal;padding: 5px 14px;" ng-click="onPrintByLocation()">Print MARs By Location</button>
  </div>
  <div class="col-lg-4">
    <button type="button" class="btn btn-default btn-lg btn-block" style="height:400px;font-size:5em;white-space:normal;padding: 5px 14px;" ng-click="onPrintByPrinter()">Print MARs to Specific Printer</button>
  </div>
</div>
<p style="text-align:center; font-size:4em; padding-top:15px">
  OR
</p>
<div style="text-align:center; font-size:4em">
  <a href="" ng-click="onCheckStatus()">Check Status</a>
</div>
