<div class="row">
  <div class="col-lg-4">
    <button type="button" class="btn btn-danger btn-lg btn-block" style="height:400px;font-size:5em;white-space:normal;" ng-click="onPrintAll()">Print All MARs</button>
  </div>
  <div class="col-lg-4">
    <button type="button" class="btn btn-default btn-lg btn-block" style="height:400px;font-size:5em;white-space:normal;" ng-click="onPrintByLocation()">Print MARs By Location</button>
  </div>
  <div class="col-lg-4">
    <button type="button" class="btn btn-default btn-lg btn-block" style="height:400px;font-size:5em;white-space:normal;">Print MARs to Specific Printer</button>
  </div>
</div>
