<h1>Locations Page</h1>
<input type="text" placeholder="Printer Location" ng-model="newLocation.description"/>
<input type="text" placeholder="Contact Number" ng-model="newLocation.phoneNumber"/>
<input type="text" placeholder="Printer Name" ng-model="newLocation.printerName"/>
<input type="text" placeholder="MAR File Name" ng-model="newLocation.marFileName"/>
<button ng-click="addLocation()">Add printer location</button>
<br/>
<table class="table table-striped">
  <th>Printer Location</th>
  <th>Contact Number</th>
  <th>Printer Name</th>
  <th>MAR File Name</th>
  <th></th>
  <tr ng-repeat="location in locations">
    <td>{{ location.description }}</td>
    <td>{{ location.phone_number }}</td>
    <td>{{ location.printer_name }}</td>
    <td>{{ location.mar_file_name }}</td>
    <td><a href="" ng-click="deleteLocation($index)">Remove</a>
  </tr>
</table>