<h1>Locations Page</h1>
<span class="dropdown">
  <button id="dLabel" class="btn-lg" data-toggle="dropdown" data-target="#">
    <span class="glyphicon glyphicon-check"></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">None</a></li>
  </ul>
</span>
<button class="btn-lg" ng-click="onPrint()"><span class="glyphicon glyphicon-print"></span> Print</button>
<table class="table table-striped" style="margin-top:5px">
  <th></th>
  <th>Printer Location</th>
  <th>Contact Number</th>
  <th>Printer Name</th>
  <th>MAR File Name</th>
  <tr ng-repeat="location in locations">
    <td><input type="checkbox"/></td>
    <td>{{ location.description }}</td>
    <td>{{ location.phone_number }}</td>
    <td>{{ location.printer_name }}</td>
    <td>{{ location.mar_file_name }}</td>
  </tr>
</table>