<h1>Locations Page</h1>
<button class="btn-lg" ng-click="onPrint()"><span class="glyphicon glyphicon-print"></span> Print</button>
<table class="table table-striped" style="margin-top:5px">
  <th>Printer Location</th>
  <th>Contact Number</th>
  <th>Printer Name</th>
  <th>MAR File Name</th>
  <tr ng-repeat="location in locations">
    <td>{{ location.description }}</td>
    <td>{{ location.phone_number }}</td>
    <td>{{ location.printer_name }}</td>
    <td>{{ location.mar_file_name }}</td>
  </tr>
</table>