<h1>Alternate Printer</h1>
<br/>
<div class="row">
  <div class="col-lg-2">
    <label class="col-lg-2">File(s)</label>
  </div>
  <div class="col-lg-10">
    <select ng-model="filesToPrint" multiple class="input-xxlarge" size="10">
      <option ng-repeat="file in files" value="{{file.file_name}}">{{file.file_name}}</option>
    </select>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-lg-2">
    <label>Printer Name</label>
  </div>
  <div class="col-lg-10">
    <input type="text" ng-model="newPrinter.printerName" class="input-xxlarge"/>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-lg-10">
    <button ng-click="printToPrinter()">Print</button>
  </div>
</div>
<div class="panel panel-default" ng-show="hasStatus" style="margin-top:10px">
  <div class="panel-heading">Printing status</div>
  <table class="table table-striped">
    <th>File</th>
    <th>Status</th>
    <tr class="{{ printJob.status_code }}" ng-repeat="printJob in printJobs">
      <td>{{ printJob.file_name }}</td>
      <td>{{ printJob.status_message }}</td>
    </tr>
  </table>
</div>