<h1>Printers Page</h1>
<div class="form-group">
  <label class="control-label col-lg-2">File(s)</label>
  <div class="col-lg-10">
      <select ng-model="filesToPrint" multiple class="input-xxlarge" size="10">
        <option ng-repeat="file in files" value="{{file.file_name}}">{{file.file_name}}</option>
      </select>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-lg-2">Add Printer</label>
  <div class="col-lg-10">
    <input type="text" placeholder="Printer Name" ng-model="newPrinter.printerName" class="input-xxlarge"/>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-10">
    <button ng-click="printToPrinter()">Print To This Printer</button>
  </div>
</div>