/*
  Application Main Css Added Here
*/

/* Bootstrap3 Aids */
.input-min { width:60px;}
.input-small {width:90px;}
.input-medium { width: 150px; }
.input-large { width: 210px; }
.input-xlarge { width: 270px; }
.input-xxlarge { width: 530px; }

input[type="checkbox"] { width: 1.2em; height: 1.2em; } 