<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Change User Password</h4>
      </div>
      <div class="modal-body container">
        <div class="row" style="font-size:1.2em">
          <div class="col-md-6 text-right">User:</div>
          <div class="col-md-6">{{user.role}}</div>
        </div>
        <div class="row" style="font-size:1.2em; padding-top:10px">
          <div class="col-md-6 text-right">New Password:</div>
          <div class="col-md-6"><input type="password" ng-model="password.text"/></div>
        </div>
        <div class="row" style="font-size:1.2em; padding-top:10px">
          <div class="col-md-6 text-right">Confirm New Password:</div>
          <div class="col-md-6"><input type="password" ng-model="passwordConfirm.text"/></div>
        </div>
        <div class="row" style="font-size:1.2em; padding-top:10px" ng-show="error">
          <div class="col-md-6 text-right"></div>
          <div class="col-md-6">{{error}}</div>
        </div>
        <div class="row" style="font-size:1.2em; padding-top:10px">
          <div class="col-md-6 text-right">
            <button class="btn btn-link" ng-click="suggest()">Suggest Password</button>
          </div>
          <div class="col-md-6">{{suggested}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="change()">Change Password</button>
        <button class="btn btn-link" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
