<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Import Locations</h4>
      </div>
      <div class="modal-body">
        <h5>Are you sure want to import locations?</h5>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="import()">Yes</button>
        <button class="btn btn-link" ng-click="cancel()">No</button>
      </div>
    </div>
  </div>
</div>
