<h1>Administer Locations</h1>
<span ng-show="addMode">
  <input type="text" placeholder="Printer Location" ng-model="newLocation.description"/>
  <input type="text" placeholder="Contact Number" ng-model="newLocation.phoneNumber"/>
  <input type="text" placeholder="Printer Name" ng-model="newLocation.printerName"/>
  <input type="text" placeholder="Today's MAR File Name" ng-model="newLocation.todaysMarFileName"/>
  <input type="text" placeholder="Tomorrow's MAR File Name" ng-model="newLocation.tomorrowsMarFileName" style="width:180px"/>
  <button ng-click="addLocation()">Add location</button>
</span>
<button class="btn btn-link" ng-hide="addMode" ng-click="setAddMode()">New Location</button>
<button class="btn btn-link" ng-click="importLocations()">Import locations</button>
<br/>
<table class="table table-striped" style="margin-top:15px">
  <th>Printer Location</th>
  <th>Contact Number</th>
  <th>Printer Name</th>
  <th>Today's MAR File Name</th>
  <th>Tomorrow's MAR File Name</th>
  <th></th>
  <!-- <th></th> -->
  <tr ng-repeat="location in locations">
    <td ng-switch on="location.editMode">
      <span ng-switch-when="false">{{ location.record.description }}</span>
      <div ng-switch-when="true">
        <input ng-model="editRecord.description"/>
      </div>
    </td>
    <td ng-switch on="location.editMode">
      <span ng-switch-when="false">{{ location.record.phone_number }}</span>
      <div ng-switch-when="true">
        <input ng-model="editRecord.phoneNumber"/>
      </div>
    </td>
    <td ng-switch on="location.editMode">
      <span ng-switch-when="false">{{ location.record.printer_name }}</span>
      <div ng-switch-when="true">
        <input ng-model="editRecord.printerName"/>
      </div>
    </td>
    <td ng-switch on="location.editMode">
      <span ng-switch-when="false">{{ location.record.todays_mar_file_name }}</span>

      <div ng-switch-when="true">
        <input ng-model="editRecord.todaysMarFileName"/>
      </div>
    </td>
    <td ng-switch on="location.editMode">
      <span ng-switch-when="false">{{ location.record.tomorrows_mar_file_name }}</span>
      <div ng-switch-when="true">
        <input ng-model="editRecord.tomorrowsMarFileName"/>
      </div>
    </td>
    <td ng-switch on="location.editMode">
      <div ng-switch-when="false">
        <a href="" ng-click="editLocation(location)">Edit</a>
        &nbsp;&nbsp;
        <a href="" ng-click="deleteLocation($index)">Remove</a>
      </div>
      <div ng-switch-when="true">
        <a href="" ng-click="onSave(location)">Save</a></span>
        &nbsp;&nbsp;
        <a href="" ng-click="onCancel(location)">Cancel</a></span>
      </div>
    </td>
  </tr>
</table>