<h1>Administer User Passwords</h1>

<p>You may regenerate the Administrator and Printer passwords on this page.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Password status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.role}}</td>
      <td>Generated: {{user.updated_at}}</td>
      <td>
        <button class="btn btn-default" ng-click="regenerate()">Regenerate</button>
      </td>
    </tr>
  </tbody>
</table>